<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>BlueSky</title>
    <link rel="stylesheet" href="../css/index.css">
</head>

<body>
    <section class="sky-grass">
        <div class="sky">
            <div class="cloud"></div>
            <div class="cloud"></div>
            <div class="cloud"></div>
            <div class="cloud"></div>
            <div class="cloud"></div>
        </div>
        <div class="grass">
            <img src="../assests/rabbit.png" alt="rabbit">
        </div>
    </section>
</body>

</html>